<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jsla.tasbeeh">

<!--    <uses-permission android:name="android.permissionsion.INTERNET" />-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tasbeeh">

        <receiver android:name=".NotificationReceiver"/>

        <receiver android:name=".AlertReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".masbahaReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".athkarAlMasaaFloatingService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            android:stopWithTask="false"
            tools:targetApi="q"
            android:screenOrientation="portrait"/>

        <service
            android:name=".MasbahaFloatingService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            android:stopWithTask="false"
            tools:targetApi="q"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Masbaha"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar.sabaahTheme"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Athkar_Al_Masaa"
            android:theme="@style/Theme.AppCompat.NoActionBar.masaaTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Athkar_Al_Noom"
            android:theme="@style/Theme.AppCompat.NoActionBar.noomTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Athkar_Al_Sabaah"
            android:theme="@style/Theme.AppCompat.NoActionBar.sabaahTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Athkar_Al_Salaah"
            android:theme="@style/Theme.AppCompat.NoActionBar.salaahTheme"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2373057914394698~9133548557" />
    </application>

</manifest>