<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jsla.tasbeeh">

    <uses-permission android:name="android.permissionsion.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/empty_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tasbeeh">

        <activity
            android:name=".total_athkar_activity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:screenOrientation="portrait">


        </activity>


        <activity
            android:name=".splash_activity"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <receiver android:name=".NotificationReceiver" />
        <receiver
            android:name=".athkarAlMasaaReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".athkarAlSabaahReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".masbahaReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>

                <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
                <!-- <action android:name="android.intent.action.ACTION_LOCKED_BOOT_COMPLETED" /> -->

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </receiver>

        <service
            android:name=".athkarAlMasaaFloatingService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            android:screenOrientation="portrait"
            android:stopWithTask="false"
            tools:targetApi="q" />

        <service
            android:name=".MasbahaFloatingService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            android:screenOrientation="portrait"
            android:stopWithTask="false"
            tools:targetApi="q" />

        <service
            android:name=".athkarSabaahFloatingService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            android:screenOrientation="portrait"
            android:stopWithTask="false"
            tools:targetApi="q" />

        <activity
            android:name=".Masbaha"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar.sabaahTheme" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Athkar_Al_Masaa"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar.masaaTheme" />
        <activity
            android:name=".Athkar_Al_Noom"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar.noomTheme" />
        <activity
            android:name=".Athkar_Al_Sabaah"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar.sabaahTheme" />
        <activity
            android:name=".Athkar_Al_Salaah"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar.salaahTheme" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2373057914394698~9133548557" />
    </application>

</manifest>